.imdb-rating {
margin-bottom: -1em;
font-size: 0.55em;
float: right;
width: 3.2em;
height: 3.2em;
line-height: 3.1em;
display: inline-block;
text-align: center;
font-weight: bold;
color: black;
font-family: tahoma;
background-repeat: no-repeat;
background-size: 100%;
}

.rated-movie .topicon {
    right: 0px !important;
    margin-right: 3.7em;
}

.rated-movie .topicon ~ .topicon {
    right: 25px !important;
}
